<h3>{{ title }}</h3>
<table class="table">
    <tr>
        <th>Index</th>
        <th>Even/Odd</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Amenities</th>
        <th>Checkin Time</th>
        <th>Rating</th>
        <th>Select Room</th>
        <th>Delete Room</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomList; let e = even; let o = odd; let i = index">
        <!-- Pipes -->
        <td>{{ i | percent }}</td>
        <td>{{ e ? 'Even' : 'Odd' }}</td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType }}</td>
        <td>{{ room.price | currency: 'EUR' }}</td>
        <td>{{ room.amenities | titlecase }}</td>
        <td>{{ room.checkinTime | date: 'dd/MM/yyyy' }}</td>
        <td>{{ room.rating | number: '1.0-2' }}</td>
        <td>
            <!-- <button
                type="button"
                class="btn btn-primary"
                (click)="selectRoom(room)"
            >
                Select Room
            </button> -->
            <button
                type="button"
                class="btn btn-primary"
                [routerLink]="['/rooms', room.roomNumber]"
            >
                Book Room
            </button>
        </td>
        <td>
            <button
                type="button"
                class="btn btn-primary"
                (click)="deleteRoom(room.roomNumber)"
            >
                Delete Room
            </button>
        </td>
    </tr>
</table>
